body {
    background-image: url('img/fondo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

main {
    margin-top: 1%;
    margin-left: 23.5%;
    width: 58%;
}

footer {
    position: fixed;
    bottom: 39.36%;
    margin-left: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#arbol {
    background-image: url('img/icono.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    gap: 10px;
    margin-bottom: 5%;
}

.input-group:hover{
    box-shadow: 10px 10px 5px #c300ff;
}

.input-group:active{
    box-shadow: 10px 10px 5px #48ff00;
}