body {
    background-image: url('img/fondo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

main {
    margin-top: 1%;
    margin-left: 23.5%;
    width: 58%;
}

footer {
    position: fixed;
    bottom: 39.36%;
    margin-left: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#arbol {
    background-image: url('img/icono.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    margin-bottom: 5%;
}

.input-group:hover{
    box-shadow: 10px 10px 5px #c300ff;
}

.input-group:active{
    box-shadow: 10px 10px 5px #48ff00;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 10%;
    font-size: small;
}

.primeros:hover {
    box-shadow: 0 8px 16px 0 rgb(255, 238, 0);
}

.segundos:hover {
    box-shadow: 0 8px 16px 0 rgb(21, 255, 0);
}

.terceros:hover {
    box-shadow: 0 8px 16px 0 rgb(255, 0, 0);
}

.resto:hover {
    box-shadow: 0 8px 16px 0 rgb(0, 17, 255);
}